---
export const prerender = false;

import BaseLayout from "../../layouts/BaseLayout.astro";
import GuestbookComment from "../../components/GuestbookComment/GuestbookComment.astro";
import Pagination from "../../components/Pagination/Pagination.astro";
import { fetchEntries } from "../../utils/guestbook.js";

const pageCurrentIndex = 0;
const entriesPerPage = 10;

const entriesOffset = pageCurrentIndex * entriesPerPage;

const { entries, entriesCount } = await fetchEntries(
  entriesPerPage,
  entriesOffset,
);

const pageCount = Math.ceil(entriesCount / entriesPerPage);
---

<BaseLayout
  title="'Abi1 - Gästebuch"
  heading="Gästebuch"
  currentNavLinkIndex={1}
>
  {entries.map((entry) => <GuestbookComment {...entry} />)}

  <Pagination
    pageCount={pageCount}
    pageCurrentIndex={pageCurrentIndex}
    maxLinks={9}
  />

  <div slot="secondary" class="box">links in here</div>
  <div slot="secondary" class="box">
    <h2 class="top">Archiv</h2>
    <p>
      <a href="./archiv/">Zum Gästebuch Archiv</a>. <strong>Ramsey:</strong> Das Archiv
      ist noch nicht fertig!! :P
    </p>
    <p>
      Curabitur at lorem. Sed sollicitudin dolor. Integer elit nibh, euismod sit
      amet, viverra sed, tristique at, tellus. Donec mollis.
    </p>
  </div>
</BaseLayout>
