---
export const prerender = false;

import BaseLayout from "../../layouts/BaseLayout.astro";
import { sql } from "../../lib/neon.js";

const response = await sql`SELECT name, filename FROM icons;`;
---

<BaseLayout
  title="'Abi1 - Gästebuch"
  heading="Gästebuch"
  currentNavLinkIndex={1}
>
  <p>Icons:</p>
  <ul>
    {
      response.map((row) => (
        <li>
          name: {row.name}, filename: {row.filename}
        </li>
      ))
    }
  </ul>

  <div slot="secondary" class="box">links in here</div>
  <div slot="secondary" class="box">
    <h2 class="top">Archiv</h2>
    <p>
      <a href="./archiv/">Zum Gästebuch Archiv</a>. <strong>Ramsey:</strong> Das Archiv
      ist noch nicht fertig!! :P
    </p>
    <p>
      Curabitur at lorem. Sed sollicitudin dolor. Integer elit nibh, euismod sit
      amet, viverra sed, tristique at, tellus. Donec mollis.
    </p>
  </div>
</BaseLayout>
