---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Abi1 - Links" heading="Links" currentNavLinkIndex={2}>
  <p>Bla bla.</p>
  <p>
    Nunc blandit placerat urna. Cras accumsan, leo eu malesuada semper, sapien
    mi convallis justo, ut consectetuer nibh nisl ut dolor. Ut hendrerit justo
    eu neque. Quisque hendrerit congue orci. Nunc lobortis adipiscing lorem.
    Aliquam tempor erat quis sapien. Nam hendrerit. Suspendisse scelerisque,
    velit sit amet congue fringilla, magna enim euismod mi, sed scelerisque
    lectus metus sed massa. Aenean ullamcorper tortor sit amet neque pretium
    elementum.
  </p>
  <p>
    Suspendisse potenti. Phasellus felis mi, laoreet at, feugiat ut, iaculis ut,
    felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos hymenaeos. Ut egestas orci et odio tincidunt porttitor. Nulla
    lorem tortor, pharetra id, egestas ut, elementum at, dui. Aliquam erat
    volutpat.
  </p>
  <p>
    Nunc ultrices suscipit lectus. Maecenas ac odio et libero rhoncus commodo.
    Nulla facilisi. Curabitur pulvinar nulla nec nisl. Integer pharetra turpis.
    In scelerisque consectetuer elit. Maecenas faucibus, quam sit amet tempor
    fermentum, risus libero aliquet lectus, sit amet lacinia nunc libero vitae
    sapien. Ut eu ante. Nulla justo lacus, venenatis vitae, dignissim et,
    tincidunt sed, elit. In hac habitasse platea dictumst.
  </p>
</BaseLayout>
